body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {
  background: #eee;
}

.success {
  color: green;
}
.info {
  color: dodgerblue;
}
.warning {
  color: orange;
}
.danger {
  color: red;
}
.default {
  color: black;
}

/* Customer Details */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: red;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select,
.blog-details input {
  width: 100%;
  padding: 6px, 10px;
  margin: 10px, 0;
  border: 2px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: red;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 40px;
}

.input-button {
  background: red;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 40px;
}

.form-errors {
  color: red;
}
.blog-details button {
  color: white;
  background: red;
  border-radius: 8px;
  cursor: pointer;
}
/*  */
